h1{
    text-align:center;
    font-size:60px;
    color:brown
  
  }
  
  h2{
  font-size:30px;
  
  }
  
  h3{
  font-size:27px;
  
  }
  
  img{
    height:500px;
    width:800px;
    margin: 0 auto;
    display: block;
  
  }
  
  ul{
  color:red;
  font-size: 20px;
  }